<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>To Do Liste | Projekt 4</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <div id="app">

    <div class="container">
      <h2>To Do App</h2>
    </div>

    <div class="container">
      <ul>
        <li class="list-group-item" v-for="(todolist, index) in todolist" v-if="0 < todolist.length">
          {{ todolist.text }}
          <button class="btn-sm float-right" @click="removeTodo(index)"><span class="fa fa-minus"></span></button>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="form-group">
        <div class="input-group row">
          <div class="col-sm-12">
            <input class="form-control" type="text" v-model="newtodolist" placeholder="New ToDo Item">
          </div>
        </div>

        <div class="input-group mt-3 row">
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block" :disabled="!isFormFilled" @click="addTodo">
              <i class="fa fa-plus"></i>
            </button>
          </div>

          <div class="col-sm-6">
            <button class="btn btn-success btn-block" @click="saveTodoState">
              <i class="fa fa-save"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/vue.js"></script>
</body>

</html>
