body {
  border-top : 0.3rem solid #4e4261;
  margin     : 0 auto;
  max-width  : 60em;
  font-family: "Poppins";
}

*, ::after, ::before {
    box-sizing: border-box;
}

::after {
    display: block;
    clear: both;
    content: "";
}

.mouse-pointer {
  cursor : pointer;
}

#heading {
  height: 30rem;
  background-color : #f9f9f9;
  padding          : 0.5rem;
  text-align       : center;
}

.heading-format {
  display: inline-block;
}

.heading-format::after {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: -2.25rem;
  padding: 1.5rem;
  border-radius: 0.4rem;
}

.blur {
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.hide {
  display : none;
}

.bg-color-light-grey {
  background-color : #f9f9f9;
}

.bg-color-grey {
  background-color : #efefef;
}

.bg-color-lila {
  background-color : #4e4261;
}

.bg-color-black {
  background-color : #000000;
}

.btn {
  padding          : 0.5rem;
  border           : 0.2rem solid #4e4261;
  background-color : rgba(200, 200, 200, 0.5);
  border-radius    : 0.4rem;
}

.text-center {
  text-align : center;
}

.advantage {
  width            : 33%;
  padding          : 0.5rem;
  display          : inline-block;
  text-align       : center;
  background-color : #ffffff;
}

.container {
  padding : 0.5rem;
}

.relative {
  position: relative;
   height: 100%
}

.rounded {
  border-radius: 0.4rem;
}

.background-image-block {
  height: 100%;
  width: 100%;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.card {
  background-color: #fff;
  padding: 1rem;
}

.card-content {
  margin-top: 1rem;
  background-color: #f9f9f9;
  padding: 1rem;
}

.div-table {
  display: table;
  width: 100%;
  height: 100%;
}

.div-table-cell {
  height: 100%;
  display: table-row;
}

.div-table-cell {
  vertical-align: middle;
  height: 100%;
  display: table-cell;
}

/** Bootstrap **/

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
width: 100%;
}



.background-image-01 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


@media (max-width: 576px) {
.heading-format::after
{
padding: 3rem;
margin: -5rem;
}
.advantage
{
  width: 32%;
}
.col {
  flex-basis: unset;
  width: 100%;
}
}

@media (max-width: 768px) {
/****/
}

@media (max-width: 992px) {
  /****/
}

@media (max-width: 1200px) {
  /****/
}
